/* Import Google Font */
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLING */
body {
    height: 100vh;
    background-color: #f4f4f4;
    color: #a2a2a2;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

.darkmode {
    background-color: #1A1B1F;
    color: #8a8a8a;
}

.nav {
    height: 100px;
    box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
  }
  .nav li.logo {
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #21268b;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px white;
  }

.dark-mode-switch .switch {
    margin-left: 4px;
}
.switch-label {
    cursor: pointer;
    font-size: 0.85em;
}
/* the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin-left: 4px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1B1F;
    transition: .2s;
    box-shadow:  2px 2px 3px #ffffff, 
                 -2px -2px 3px #bebebe;
}
.darkmode .slider {
    box-shadow:  2px 2px 3px #34353a, 
                 -2px -2px 3px #000104;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background: #21268b;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #f4f4f4;
}
input:checked + .slider:before {
    transform: translateX(21px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 11px;
}
.slider.round:before {
    border-radius: 50%;
}


/*  FORM  */

.form {
    margin-top: 8rem;
    text-align: center;
}
  .form__input {
    width: 25rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey, inset -0.2rem -0.2rem 0.5rem white;
    background: none;
    color: dimgrey
  }
  .form__input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem lightgrey, -0.2rem -0.2rem 0.5rem white;
  }

  
/*  BUTTONS  */
.button {
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 1.2rem;
    padding: 1rem 3rem;
    transition: all 260ms ease;
    text-decoration: none;
    max-width: 100%;
    color: dimgrey;
    background-color: #f4f4f4;
    margin-left: .5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  }
  .button:hover, .button:focus {
    color: #21268b;
    outline: none;
  }
  .button:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
  }

/* Style the tab content */
.tabcontent {
    padding: 10px;
    min-height: 288px;
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
    /* display: none;     */
    border-radius: 18px;
    background: #f4f4f4;
    box-shadow:  3px 3px 6px #bebebe, 
                 -3px -3px 6px #ffffff;
}
.darkmode .tabcontent {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
}

.icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;   
}
.fa-cloud-sun {
    color: #21268b;
}

.weather-info {
   width: 60%;
   height: 20vh;
   margin: 0 auto;
   margin-top: .5rem;
   color: #21268b;
   text-align: center;
   font-size: 1.5rem;
   line-height: 1.5em;
   display: none;
   border-radius: 1.2rem;
   box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}



.temperature {
    cursor: pointer;
}